.container {
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

button {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  font-size: 2em;
  color: black;
  outline: none;
  margin-top: 20px;
  text-align: center;
  padding: 0px;
}
